.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-1);
    align-self: center;

    margin: var(--space-8) 0
}

.empty__icon{
    color: var(--color-accent);
}

.empty__title{

}

.empty__text{
  color: var(--color-text-muted);
}
