.modal {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  padding: var(--space-4);
}

.modal__title {
  align-self: center;
  font-size: var(--font-size-lg);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.field__select select[aria-invalid="true"] {
  border-color: var(--color-error);
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-xs);
}

.field__time {
  padding: var(--space-1);
  border-radius: var(--radius-sm);
  border-color: var(--color-border);
}

.field__time[aria-invalid="true"] {
  border-color: var(--color-error);
}

.field__textarea {
  resize: vertical;
  min-height: 60px;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-sm);
  border-color: var(--color-border);
}

.field__textarea[aria-invalid="true"] {
  border-color: var(--color-error);
}

.button {
  margin-top: var(--space-4);
}
